<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/show.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/myorder.css}">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.7/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.7/layui.js}" charset="utf-8"></script>
</head>
<body>
<div class="head">
    <div class="wrapper clearfix">
        <!--        <input id="custId" th:value="${custid}" style="display: none"/>-->

        <div class="clearfix" id="top"><h1 class="fl"><a href="/home"><img th:src="@{/image/logo2.1.png}"
                                                                           style="width: 35%;height: auto"/></a>
        </h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="/login" id="login">login</a>
                    <a href="/toPage/mall/register" id="reg">register</a>
                </p>
                <div class="btn fl clearfix">
                    <a href="/toPage/mall/personCenter">
                        <img th:src="@{/image/grzx.png}"/>
                    </a>
                    <a href="/toPage/mall/cart">
                        <img th:src="@{/image/gwc.png}"/>
                    </a>
                    <a href="/logout">
                        <img th:src="@{/image/logout.png}"/>
                    </a>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="/home">Home</a></li>
            <li><a href="/toPage/mall/productList">All Products</a></li>
            <li><a href="/toPage/mall/myProduct">My Products</a></li>
            <li><a href="/mall/chat">Chatroom</a></li>
        </ul>
    </div>
</div>

<div class="Bott">
    <div class="wrapper clearfix">
        <div class="you fl" style="width: 1092px;padding-bottom: 0px">
            <div class="dlist clearfix">
                <ul class="fl clearfix" id="wa">
                    <li class="on" style="cursor:pointer;padding: 0 14px"><a class="setOnsale">On-sale Orders</a></li>
                    <li class="on" style="cursor:pointer;padding: 0 14px"><a class="setOrdered">Ordered Orders</a></li>
                    <li class="on" style="cursor:pointer;padding: 0 14px"><a class="setCompleted">Completed Orders</a>
                    </li>
                    <li class="on" style="cursor:pointer;padding: 0 14px"><a class="submit"
                                                                             href="/toPage/mall/goodsAdd">
                        <button>+ Add</button>
                    </a></li>
                </ul>
            </div>
            <div class="productList1" id="myProductList1">

            </div>
        </div>
    </div>
</div>


<!--<div><button id="add"></button>添加商品</div>-->

<script>

    layui.use(['table', 'form', 'jquery', 'layer'], function () {
        let table = layui.table,
            $ = layui.jquery,
            layer = layui.layer;
        //请求json数据拼接字符串，并在URL传参数id跳转

        $(function () {
            let shop = {"page": 1, "limit": 99, "state": 1};
            let strOnsale = "<ul>";
            let strOrdered = "<ul>";
            let strCompleted = "<ul>";

            $.ajax({
                type: "post",
                url: "/op/getCommodityByCid",
                dataType: "json",
                data: shop,
                success: function (data) {
                    $.each(data.data, function (i, value) {
                        if (value.state === "1") {
                            strOnsale += "<li>" +
                                "<div class='topInfo'>" + "<input style='display: none' value=" + value.commodityId + ">" +
                                "<a href='" + "/mall/commodityDetail/" + value.commodityId + "'><img src='" + value.image + "' alt=''></a></div>" +
                                "<div class='botInfo'><div class='wenzi'><h2 class='title'>" + value.commodityName + "</h2><span class='price'>" + "￥" + value.price + "</span></div>" +
                                "<div class='btn'><button class='update' id='upd'>Update</button><button class='delete' id='del'>Delete</button></div>" +
                                "</li>"
                        } else if (value.state === "2") {
                            strOrdered += "<li>" +
                                "<div class='topInfo'>" + "<input style='display: none' value=" + value.commodityId + ">" +
                                "<a href='" + "/mall/commodityDetail/" + value.commodityId + "'><img src='" + value.image + "' alt=''></a></div>" +
                                "<div class='botInfo'><div class='wenzi'><h2 class='title'>" + value.commodityName + "</h2><span class='price'>" + "￥" + value.price + "</span></div>" +
                                "<div class='btn'><button class='complete' id='comp'>Complete</button><button class='delOrder'>Delorder</button></div>" +
                                "</li>"
                        } else if (value.state === "4") {
                            strCompleted += "<li>" +
                                "<div class='topInfo'>" + "<input style='display: none' value=" + value.commodityId + ">" +
                                "<a href='" + "/mall/commodityDetail/" + value.commodityId + "'><img src='" + value.image + "' alt=''></a></div>" +
                                "<div class='botInfo'><div class='wenzi'><h2 class='title'>" + value.commodityName + "</h2><span class='price'>" + "￥" + value.price + "</span></div>" +
                                "</li>"
                        }
                    });
                    strOnsale += "</ul>";
                    strOrdered += "</ul>";
                    strCompleted += "</ul>";
                    $("#myProductList1").append(strOnsale);

                    $(".delete").click(function () {
                        let id = $($(this).parent().parent().prev().children().get(0)).val();
                        layer.confirm("delete this commodity?", function () {
                            delLine(id);
                        })
                    });

                    $(".update").click(function () {
                        let id = $($(this).parent().parent().prev().children().get(0)).val();
                        layer.confirm("update this commodity?", function () {
                            update(id);
                        })
                    });

                    function update(data) {
                        window.location.href = "/mall/goodsUpdate/" + data;
                    }

                    function delLine(data) {
                        let id = [];
                        id.push(data);
                        $.ajax({
                            url: '/op/commodityDelete',
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(id),
                            timeout: 2000,
                            success: function (res) {
                                if (res.code === 200) {
                                    layer.msg(res.msg, {time: 1000});
                                    window.history.go(0);
                                    return false;
                                } else {
                                    layer.msg(res.msg);
                                    return false;
                                }
                            },
                            error: function () {
                                layer.msg("Exception!");
                            }
                        });
                    }
                }, error: function () {
                    alert("error")
                }
            });

            $('.setOnsale').click(function () {
                setOnsale();
            })

            $('.setOrdered').click(function () {
                setOrdered();
            })

            $('.setCompleted').click(function () {
                setCompleted();
            })

            function setOnsale() {
                $('#myProductList1').empty();
                $('#myProductList1').append(strOnsale);
                $(".update").click(function () {
                    let id = $($(this).parent().parent().prev().children().get(0)).val();
                    layer.confirm("update this commodity?", function () {
                        update(id);
                    })
                })

                function update(data) {
                    window.location.href = "/mall/goodsUpdate/" + data;
                }

                $(".delete").click(function () {
                    let id = $($(this).parent().parent().prev().children().get(0)).val();
                    layer.confirm("delete this commodity?", function () {
                        delLine(id);
                    })
                });

                function delLine(data) {
                    let id = [];
                    id.push(data);
                    $.ajax({
                        url: '/op/commodityDelete',
                        type: 'post',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(id),
                        timeout: 2000,
                        success: function (res) {
                            if (res.code === 200) {
                                layer.msg(res.msg, {time: 1000});
                                window.history.go(0);
                                return false;
                            } else {
                                layer.msg(res.msg);
                                return false;
                            }
                        },
                        error: function () {
                            layer.msg("Exception!");
                        }
                    });
                }
            }

            $(document).on("click", ".complete", function () {
                let commodityId = $($(this).parent().parent().prev().children().get(0)).val();
                let data = {"commodityId": commodityId, "state": "3"};
                console.log(data);
                $.ajax({
                    type: "post",
                    url: "/op/commodityUpdateState",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        layer.msg(data.msg);
                        window.history.go(0);
                    }
                })
            })

            $(document).on("click", ".delOrder", function () {
                let commodityId = $($(this).parent().parent().prev().children().get(0)).val();
                let data = {"commodityId": commodityId, "state": "1"};
                console.log(data);
                $.ajax({
                    type: "post",
                    url: "/op/commodityUpdateState",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        layer.msg(data.msg);
                        window.history.go(0);
                    }
                })
            })


            function setOrdered() {
                $('#myProductList1').empty();
                $('#myProductList1').append(strOrdered);
            }

            function setCompleted() {
                $('#myProductList1').empty();
                $('#myProductList1').append(strCompleted);
            }

        })
    })
</script>
</body>
</html>