<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>personal information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/mygrxx.css}"/>
    <script th:src="@{/js/public.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/user.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/public.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/user.js}" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="f1"><a href="home.html"><img src="img/logo.png" alt=""></a></h1>

        </div>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix"><a href="index.html" class="fl">home page</a><span>/</span><a href="mygxin.html"
                                                                                                class="on">personal
        information</a>
    </div>
</div>
<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3><a href="#"><img src="img/tx.png"/></a>
                <p class="clearfix"><span class="fl">[mie]</span><span class="fr">[logout]</span></p>
            </h3>
            <div>
                <h4>my trading</h4>
                <ul>
                    <li><a href="cart.html">my shoppingcart</a></li>
                    <li><a href="myorderq.html">my order</a></li>
                    <li><a href="myprod.html">evaluation list</a></li>
                </ul>
                <h4>personal center</h4>
                <ul>
                    <li><a href="mygxin.html">my center</a></li>
                    <li><a href="address.html">address manage</a></li>
                </ul>
                <h4>account manage</h4>
                <ul>
                    <li class="on"><a href="mygrxx.html">personal information</a></li>
                    <li><a href="remima.html">modify password</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <h2>Personal Information</h2>
            <div class="gxin">
                <div class="tx"><a href="#"><img src="img/tx.png"/>
                    <p id="avatar">Modify avatar</p>
                </a></div>
                <div class="xx">
                    <h3 class="clearfix"><strong class="fl">Basic Information</strong><a href="#" class="fr"
                                                                                         id="edit1">Edit</a>
                    </h3>
                    <div>ID:001</div>
                    <div>Nickname:lxw</div>
                    <div>Student ID:18130500229</div>
                    <div>Name：六六六</div>
                    <div>Gender：女</div>
                    <div>Email:123456789@qq.com</div>
                    <div>Phone:147852369</div>
                    <div>Address:西电</div>
                    <div>Credit:600</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="mask"></div>
<!--编辑弹框-->
<div class="bj">
    <div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
    <h3>Edit</h3>
    <form action="#" method="get">
        <p><label>Nickname：</label><input style="width: 200px;margin-left: 4px" type="text" value="lxw"/></p>
        <p><label>Student ID：</label><input style="width: 200px" type="text" value="18130500229"/></p>
        <p><label>Name：</label><input style="width: 200px;height: 40px;margin-left: 27px" type="text" value="六六六"/>
        </p>

        <label>Sex：</label><input style="margin-left: 40px" type="radio" name="sex" value="男"/>男
        <input style="margin-left: 20px" type="radio" name="sex" value="女"/>女

        <p><label>Email：</label><input style="width: 200px;margin-top: 10px;margin-left: 30px" type="email"
                                       value="123456789@qq.com"/></p>
        <p><label>Phone：</label><input style="width: 200px;margin-left: 25px" type="tel"/></p>
        <p><label>Address：</label><input style="width: 200px;margin-left: 16px" type="text" value="西电"/></p>
        <div class="bc"><input type="button" value="save"/><input type="button" value="cancel"/></div>
    </form>
</div>
<!--高级设置修改-->
<!--修改头像-->
<div class="avatar">
    <div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
    <h3>modify Avatar</h3>
    <form action="#" method="get">
        <h4>Please upload avatar</h4><input type="button" value="上传头像"/>
        <p>jpg or png, the size does not exceed 2M</p><input type="submit" value="提交"/>
    </form>
</div>
<!--返回顶部-->
<div class="gotop"><a href="cart.html">
    <dl>
        <dt><img src="img/gt1.png"/></dt>
        <dd>go to<br/>cart</dd>
    </dl>
</a><a href="#" class="dh">
    <dl>
        <dt><img src="img/gt2.png"/></dt>
        <dd>link<br/>service</dd>
    </dl>
</a><a href="mygxin.html">
    <dl>
        <dt><img src="img/gt3.png"/></dt>
        <dd>person<br/>center</dd>
    </dl>
</a><a href="#" class="toptop" style="display: none">
    <dl>
        <dt><img src="img/gt4.png"/></dt>
        <dd>back to<br/>top</dd>
    </dl>
</a>
    <p>400-800-8200</p>
</div>
</body>
</html>